extends base 

block content
    .add-page
        .container_add_movie
            .add-heading
                h2.admin-heading-primary Add New User
            form(method="POST" action="/v1/user/add")
                .add_form-group
                    label.add_form_label(for="username") Username
                    input#username.add_form-control(type="text" name="username" required)

                .add_form-group
                    label.add_form_label(for="password") Password
                    input#password.add_form-control(type="text" name="password"  required)
                
                .add_form-group
                    label.add_form_label(for="passwordConfirm") Confirm Password
                    input#password.add_form-control(type="text" name="passwordConfirm"  required)

                .add_form-group
                    label.add_form_label(for="email") Email
                    input#email.add_form-control(type="text" name="email"  required)

                .add_form-group
                    label.add_form_label(for="role") Role
                    .add_form-check
                        input.add-form-check-input(type="radio" name="role"  value="user" required)
                        label.add-form-check-label(for="user") User
                    .add_form-check  
                        input.add-form-check-input(type="radio" name="role"  value="admin")
                        label.add-form-check-label(for="admin") Admin



                .add-botton
                    button.admin_btn.admin_btn-primary(type="submit") Add user

