extends base

block content
    main.main 
        .signup-form 
            h2.heading-secondary.ma-bt-lg Sign Up a New Account 
            form.form.form--signup(method="POST" action="/v1/user/signup")
                .form__group 
                    label.form__label(for='username') Username 
                    input#username.form__input(type='text', placeholder='your username', required)
                .form__group 
                    label.form__label(for='email') Email address 
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md 
                    label.form__label(for='password') Password 
                    input#password.form__input(type='password', placeholder='********', required, minlength='8')
                .form__group.ma-bt-md 
                    label.form__label(for='passwordConfirm') Password Confirm 
                    input#passwordConfirm.form__input(type='password', placeholder='********', required, minlength='8')
                
                //- .form__group.ma-bt-md
                //-     label.form__label(for='role') Role
                //-     label(for='user') User
                //-     input#user.form__radio(type='radio', name='accountType', value='user', required)
                //-     label(for='admin') Admin
                //-     input#admin.form__radio(type='radio', name='accountType', value='admin', required)

                .form_group 
                    button.btn.btn--green Sign up  